/*--
 - Moz specific styling
 --*/
@-moz-document url-prefix(){
	/*--
	 - Index Page
	 --*/
	[data-device] #top-bar figure#site-logo-group > a{
		display: inline-block;
	/*--	margin-top: 5px;  --*/
	}

	[data-device] #portfolio-container .portfolio .column-text .cta-more-info{
		line-height: 44px;
	}

	[data-device] #top-bar h3{
		padding-top: 4px;
	}

	[data-device="mobile"] #top-bar #site-logo-group img#site-logo{
		/*margin-top: -3px;*/
	}
}