@font-face
{
font-family: "Speedy Marker Regular";
src: url(./speedymarkerregular.ttf);
}

/******************************************************************************/

div.entry
{
margin-top: 0px;
margin-bottom: 32px;

color: #000000;
background-color: #fffee5;
border: 1px solid #cccccc;

background-image: url('//phomeo.com/contest/data/4/images/entry-bg.jpg');
background-repeat: repeat-x repeat-y;

border-radius: 8px;

-webkit-box-shadow: -0 5px 10px rgba(0, 0, 0, 1.0);
   -moz-box-shadow: -0 5px 10px rgba(0, 0, 0, 1.0);
        box-shadow: -0 5px 10px rgba(0, 0, 0, 1.0);
}

/*
div.entry.bg-red        { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_red.jpg'); }
div.entry.bg-orange     { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_orange.jpg'); }
div.entry.bg-yellowgold { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_yellowgold.jpg'); }
div.entry.bg-green      { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_green.jpg'); }
div.entry.bg-blue       { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_blue.jpg'); }
div.entry.bg-purple     { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_purple.jpg'); }
div.entry.bg-pink       { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_pink.jpg'); }
div.entry.bg-black      { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_black.jpg'); }
div.entry.bg-white      { }
div.entry.bg-brown      { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_brown.jpg'); }
div.entry.bg-greysilver { border-color: #; background-image: url('//phomeo.com/contest/data/4/bgs/photo_bg_greysilver.jpg'); }
*/

div.entry.winner-first  { border-color: #ffcc33; background-image: url('//phomeo.com/globalassets/images/winner-first.jpg'); background-size: 100% 100%; }
div.entry.winner-second { border-color: #cccccc; background-image: url('//phomeo.com/globalassets/images/winner-second.jpg'); background-size: 100% 100%; }
div.entry.winner-third  { border-color: #996633; background-image: url('//phomeo.com/globalassets/images/winner-third.jpg'); background-size: 100% 100%; }
div.entry.newAjax { visibility: hidden; }

div.entry div
{
}
div.entry div.top-cont div.date
{
color: #cccc00; /*#cccc00, #6699ff*/
background-color: #000000;
}

div.entry div.top-cont div.date a
{
background-image: url('../../phomio/images/lureSelect/button-social-icon-small.png');
}
div.entry div.top-cont div.date a          { }
div.entry div.top-cont div.date a.twitter  { }
div.entry div.top-cont div.date a.facebook { }
div.entry div.top-cont div.date a.twitter:link   { }
div.entry div.top-cont div.date a.twitter:hover  { }
div.entry div.top-cont div.date a.facebook:link  { }
div.entry div.top-cont div.date a.facebook:hover { }

div.entry.top div.top-cont div.date a
{
background-image: url('//phomeo.com/contest/data/global/images/button-social-icon.png');
}

div.entry.top div.top-cont div.date a          { }
div.entry.top div.top-cont div.date a.twitter  { }
div.entry.top div.top-cont div.date a.facebook { }
div.entry.top div.top-cont div.date a.twitter:link   { }
div.entry.top div.top-cont div.date a.twitter:hover  { }
div.entry.top div.top-cont div.date a.facebook:link  { }
div.entry.top div.top-cont div.date a.facebook:hover { }

div.entry div.top-cont div.caption
{
padding-left: 32px;
font-size: 10pt;
}
div.entry div.top-cont div.caption span.caption-subtext { font-size: 8pt; font-style: italic; }

div.entry div.top-cont img.image
{
border: 2px solid #000000;
}
div.entry a.lure
{
position: absolute;
top: auto;
left: -35px;
right: auto;
bottom: -35px;
z-index: 1;

display: inline-block;
width: 100px;
height: 190px;

/*
position: relative;
display: inline-block;
width: 100px;
height: 190px;
margin-right: -100px;
margin-bottom: -190px;
top: -145px;
left: -45px;

background-image: url('//phomeo.com/contest/data/4/1b.png');
background-size: 110px 180px;
*/
}
/*IE6/7 hacks*/
div.entry a.lure
{
/*
*position: absolute;
*top: auto;
*bottom: 145px;
*/
}
div.entry a.lure img
{
margin-right: -100px;
margin-bottom: -190px;
width: 100px;
height: 190px;
border: none;
}
div.entry.top a.lure
{
left: -70px;
bottom: -70px;

width: 200px;
height: 380px;

/*
width: 200px;
height: 380px;
margin-right: -200px;
margin-bottom: -380px;
top: -290px;
left: -90px;
*/
}
/*IE6/7 hack*/
div.entry.top a.lure
{
/*
*position: absolute;
*top: auto;
*bottom: 290px;
*/
}
div.entry.top a.lure img
{
margin-right: -200px;
margin-bottom: -380px;
width: 200px;
height: 380px;
}
div.entry a.lure img:hover
{
transform: rotate(-5deg);
}

div.entry a.buylure
{
position: relative;
display: none; /*inline-block*/
width: 144px;
height: 80px; /*70px*/
left: 0px;
top: -23px; /*-35px*/
margin-bottom: -70px; /*-70px*/
background-image: url('//phomeo.com/contest/data/4/images/buy_now.png');
background-repeat: no-repeat;
z-index: 2;
opacity: 0.7;
}
div.entry a.buylure:hover
{
background-position: 0px -160px;
opacity: 1.0;
}

div.entry p
{
color; #000000;
margin-left: 32px;
margin-bottom: 0px;
}
div.entry p.sig
{
margin-top: 0px;
padding-top: 0px;
padding-bottom: 10px;

font-family: "Speedy Marker Regular", Helvetica, Arial, sans-serif;
font-size: 18pt;
font-weight: bold;
text-decoration: none;
line-height: 100%;

text-align: right;
}
div.entry p.sig a
{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;
font-style: italic;
text-decoration: none;

color: #000000;
}
div.entry p.sig a:hover { text-decoration: underline; }

div.entry.top
{
/*
top: 180px;
left: 40px;
margin-bottom: 64px;
*/
}
div.entry.top div.top-cont img.image
{
}
div.entry.top div { }
div.entry.top div.top-cont div.caption
{
padding-left: 64px;
font-size: 14pt;
}
div.entry.top div.top-cont div.caption span.caption-subtext
{
font-size: 12pt;
}
div.entry.top p
{
margin-left: 64px;
}
div.entry.top p.sig
{
font-size: 24pt;
}
div.entry.top p.sig a
{
font-size: 16pt;
}



div.entry div.entry-winner-overlay
{
position: absolute;
top: 5px;
left: -35px;

z-index: -1;

display: block;
width: 45px;
height: 190px;

background-image: url('//phomeo.com/contest/data/4/winner-sm.png');
background-repeat: no-repeat;
}

div.entry.top div.entry-winner-overlay
{
top: 0px;
left: -70px;

width: 90px;
height: 380px;

background-image: url('//phomeo.com/contest/data/4/winner.png');
}

/*--
 - Fix
 --*/
 #phomio-photo-container{
 	position: relative;
    height: 400px;
 }

 #phomio-photo-container *{
 	-webkit-box-sizing: content-box;
 	box-sizing: content-box;
 }

 div.entry{
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 10px;
    padding-bottom: 0px;
    vertical-align: top;
    width: 280px;
}

div.entry div.top-cont div.date {
    position: relative;
    /* width: 552px; */
    padding: 0.5em 0.75em;
    padding-bottom: 0.4em;
    /* height: 1.1em; */
    font-family: sans-serif;
    color: #cccc00;
    background-color: #000000;
    text-align: left;
}

div.entry div.top-cont div.date a {
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    width: 22px;
    height: 22px;
    background-image: url(../../phomio/images/lureSelect/button-social-icon-small.png);
}

div.entry div.top-cont div.date a {
    top: 2px;
}

div.entry div.top-cont div.date a.twitter {
    right: 26px;
}

div.entry div.top-cont div.date a.facebook:link {
    background-position: -22px 00px;
}

div.entry div.top-cont div.date a.facebook {
    right: 04px;
}

div.entry div.top-cont div.date a.twitter:hover {
    background-position: 00px -22px;
}

div.entry div.top-cont div.date a.facebook:hover {
    background-position: -22px -22px;
}

div.entry p {
    display: block;
    margin: 0.5em 0px;
    padding: 0px 0.5em;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 16pt;
}

div.entry p {
    margin-left: 32px;
    margin-bottom: 0px;
    text-align: left;
}

div.entry p.sig a{
	font-weight: bold;
}