<div class="cc">
	<header id="top-bar" class="container effect effect_slide-right-fade-out">
		<section class="inner">
			<figure id="site-logo-group">
				<a href="#!/">
					<i class="fa fa-fw fa-angle-left"></i>
					<img src="assets/img/dynamic_logo.png" alt="" id="site-logo">
				</a>
			</figure>

			<h1 id="portfolio-name">CatholicCloud</h1>

			<div id="switcher-container" class="switcher-desktop switcher">
				<div id="switcher-inner">
					<a data-switch="complex" href="#section-complex" id="switch-complex">Complex</a>

					<a data-switch="simple" href="#section-simple" id="switch-simple">Simple</a>
				</div>
			</div>

		</section>
	</header>

	<div id="switcher-container" class="switcher-mobile switcher effect effect_slide-right-fade-out">
		<div id="switcher-inner">
			<a data-switch="complex" href="#section-complex" id="switch-complex">Complex</a>
			<a data-switch="simple" href="#section-simple" id="switch-simple">Simple</a>
		</div>
	</div>

	<div id="viewport" class="effect effect_slide-right">
		<div id="page-content">

			<section class="section alpha" id="section-challenge">
				<div class="inner">
					<h2 class="section-title">Challenge</h2>
					<div class="section-content">
						<ul class="textual-content">
							<li>- Many Churches rely on outdated communication tools i.e. print media</li>
							<li>- Build a comprehensive digital platform that is easy enough for non tech savvy people to use but powerful enough to add value to Church communications</li>
							<li>- Digitize all Church communications with highly automated software</li>
						</ul>
						<figure class="section-diagram">
							<img src="assets/img/church.png" alt id="img_a_church">
							<img src="assets/img/arrow_blue_right.png" alt id="img_a_arrow_blue_right">
							<img src="assets/img/church_app_icon.png" alt id="img_a_church_app_icon">
						</figure>
					</div>
				</div>
			</section><!--/.alpha-->

			<section class="section beta" id="section-complex">
				<div class="inner">
					<h2 class="section-title">How I created the platform:</h2>
					<h3 class="section-title-centered">Complexity</h3>

					<h2 class="section-title">Design</h2>
					<div class="section-content">
						<p class="textual-content">I created initial designs and one-off Apps for local Churches.</p>
						<figure class="section-diagram diagram-design">
							<img src="assets/img/phone_outline.png" alt id="img_a_church">
							<img src="assets/img/phone_1.png" alt id="img_a_phone_1">
							<img src="assets/img/phone_2.png" alt id="img_a_phone_2">
							<img src="assets/img/phone_3.png" alt id="img_a_phone_3">
						</figure>
					</div>

					<h2 class="section-title">Feedback &amp; Refinement</h2>
					<div class="section-content">
						<p class="textual-content">Working closely with local parishes, I improved the product and developed a feature roadmap.</p>
						<figure class="section-diagram diagram-feedback">
							<img src="assets/img/cc_admin_1.jpg" alt id="img_b_cc_admin_1">
							<img src="assets/img/arrow_blue_down.png" alt id="img_b_arrow_blue_down">
							<img src="assets/img/arrow_blue_right.png" alt id="img_b_arrow_blue_right">
							<img src="assets/img/cc_admin_2.jpg" alt id="img_b_cc_admin_2">
						</figure>
					</div>

					<h2 class="section-title">Implementation</h2>
					<div class="section-content">
						<p class="textual-content">I designed highly automated custom software combining many elements to create a great platform, and ran the production team to build it.</p>
						<figure class="section-diagram diagram-implementation">
							<img src="assets/img/cc_data_model.jpg" alt id="img_b_cc_data_model">
						</figure>
					</div>

					<h2 class="section-title">Tools</h2>
					<div class="section-content section-content-tools">
						<p class="textual-content">I used many cutting edge tools, frameworks and integrations as components of this platform. Here are a few examples:
</p>
						<figure class="section-diagram diagram-tools">
							<span class="tools" data-tool="FCP X">
								<img src="assets/img/icons/fcp.png" alt>
							</span>
							<span class="tools" data-tool="Laravel">
								<img src="assets/img/icons/laravel.png" alt>
							</span>
							<span class="tools" data-tool="Let’s Encrypt">
								<img src="assets/img/icons/letsencrypt.png" alt>
							</span>
							<span class="tools" data-tool="Framework 7">
								<img src="assets/img/icons/f7.png" alt>
							</span>
							<span class="tools" data-tool="PhantomJS">
								<img src="assets/img/icons/pantomjs.png" alt>
							</span>
							<span class="tools" data-tool="Motion">
								<img src="assets/img/icons/motion.png" alt>
							</span>
							<span class="tools" data-tool="AWS">
								<img src="assets/img/icons/aws.png" alt>
							</span>

							<span class="tools" data-tool="Adobe CC">
								<img src="assets/img/icons/adobe.png" alt>
							</span>
							<span class="tools" data-tool="Slack">
								<img src="assets/img/icons/slack.png" alt>
							</span>
							<span class="tools" data-tool="Mandrill">
								<img src="assets/img/icons/mandrill.png" alt>
							</span>
							<span class="tools" data-tool="Saltstack">
								<img src="assets/img/icons/saltstack.png" alt>
							</span>
							<span class="tools" data-tool="Nexmo">
								<img src="assets/img/icons/nexmo.png" alt>
							</span>
							<span class="tools" data-tool="Sass">
								<img src="assets/img/icons/sass.png" alt>
							</span>

							<span class="tools" data-tool="Git">
								<img src="assets/img/icons/git.png" alt>
							</span>
							<span class="tools" data-tool="Stripe">
								<img src="assets/img/icons/stripe.png" alt>
							</span>
							<span class="tools" data-tool="Google API
">
								<img src="assets/img/icons/google_api.png" alt>
							</span>
							
							<span class="tools" data-tool="ImageMagick">
								<img src="assets/img/icons/imagemagick.png" alt>
							</span>
							<span class="tools" data-tool="Phabricator">
								<img src="assets/img/icons/phabricator.png" alt>
							</span>

						</figure>
					</div>

				</div>
			</section><!--/.beta-->

			<section class="section charlie" id="section-simple">
				<span id="pin-simple"></span>
				<div class="inner">
					<h2 class="section-title">What the end user experiences:</h2>
					<h3 class="section-title-centered">Simplicity</h3>
					<div class="section-content">
						<figure class="section-diagram">
							<img src="assets/img/cc_poster.png" alt id="img_c_cc_poster">
							<img src="assets/img/cc_mac.png" alt id="img_c_cc_mac">
							<img src="assets/img/cc_phone.png" alt id="img_c_cc_phone">
							<img src="assets/img/cc_logo.png" alt id="img_c_cc_logo">
						</figure>
					</div>
				</div>
			</section><!--/.charlie-->

		</div>

		<section class="section extra-section">
			<div class="inner"></div>
		</section>

		<footer class="container"></footer>

	</div><!--/#viewport-->
</div>

<link rel="stylesheet" type="text/css" href="assets/css/cc-desktop.css">
<link rel="stylesheet" type="text/css" href="assets/css/cc-mobile.css">