<div class="index">
	<header id="top-bar" class="container effect effect_slide-right-fade-out">
			<section class="inner">
				<figure id="site-logo-group">
					<a href="index.html">
						<img src="assets/img/dynamic_logo.png" alt="" id="site-logo">
						<img src="assets/img/dynamic_title.png" alt="" id="site-title">
					</a>
				</figure>

				<h3 class="desktop-top-bar-tagline">I love creating products and building businesses around automated processes that result in awesome and easy to use digital products.</h3>

				<a href="mailto:dan@dyn.am" id="top-bar-email">dan@dyn.am</a>
			</section>
		</header>

	<div id="viewport" class="effect effect_slide-right">

		<div id="mobile-top-bar-tagline">
			<h3>I love creating products and building businesses around automated processes that result in awesome and easy to use digital products.</h3>
		</div>

		<div id="portfolio-container" class="container">

			<div class="portfolio-cc portfolio">
				<section class="inner">
					<div class="column-featured column">
						<span class="non-retina">
							<img class="column-featured-company" src="assets/img/cc_logo.png" alt>
							<img class="column-featured-main" src="assets/img/cc_phone.png" alt>
						</span>
						<span class="retina-mobile">
							<img class="column-featured-company" src="assets/img/retina/cc_logo@2x.png" alt>
							<img class="column-featured-main" src="assets/img/retina/cc_phone@2x.png" alt>
						</span>
					</div>
					<div class="column-text column">
						<h2 class="column-text-tagline">The best and easiest to use free Apps for Churches</h2>

						<h3 class="column-text-headline">The Product</h3>
						<p class="column-text-description">CatholicCloud is a platform that enables Churches to launch and manage their own custom white label smart phone Apps completely for free.</p>

						<h3 class="column-text-headline">Roles</h3>
						<p class="column-text-description">As Founder and Product Manager I have been intimately involved with every aspect of CatholicCloud. From marketing to detailed design of the customer facing Apps, internal tools and highly advanced automation queues, I conceptualized and have run the entire product development process.</p>

						<a class="cta-more-info" href="#!/cc">Examples <i class="fa fa-fw fa-chevron-right"></i></a>
					</div>
				</section>
			</div><!--/.portfolio-cc-->

			<div class="portfolio-phomio portfolio">
				<section class="inner">
					<div class="column-featured column">
						<span class="non-retina">
							<img class="column-featured-company" src="assets/img/phomio_logo.png" alt>
							<img class="column-featured-main" src="assets/img/phomio_monitor_1.png" alt>
							<img class="column-featured-main" src="assets/img/phomio_monitor_2.png" alt>
						</span>
						<span class="retina-mobile">
							<img class="column-featured-company" src="assets/img/retina/phomio_logo@2x.png" alt>
							<img class="column-featured-main" src="assets/img/retina/phomio_monitor_1@2x.png" alt>
							<img class="column-featured-main" src="assets/img/retina/phomio_monitor_2@2x.png" alt>
						</span>
					</div>
					<div class="column-text column">
						<h2 class="column-text-tagline">Custom photo contests to drive viral adoption</h2>

						<h3 class="column-text-headline">The Product</h3>
						<p class="column-text-description">Phomio is a platform that enables businesses to leverage unique products or services to create their own custom photo contest.</p>

						<h3 class="column-text-headline">Roles</h3>
						<p class="column-text-description">I designed this software as part of a creative marketing campaign for a client. Then I further developed the program into a customizable platform that could be tailored to different businesses.</p>

						<a class="cta-more-info" href="#!/phomio" >Examples <i class="fa fa-fw fa-chevron-right"></i></a>
					</div>
				</section>
			</div><!--/.portfolio-phomio-->

			<div class="portfolio-wmb portfolio">
				<section class="inner">
					<div class="column-featured column">
						<span class="non-retina">
							<img class="column-featured-company" src="assets/img/wmb_logo.png" alt>
							<img class="column-featured-main" src="assets/img/wmb_phone.png" alt>
						</span>
						<span class="retina-mobile">
							<img class="column-featured-company" src="assets/img/retina/wmb_logo@2x.png" alt>
							<img class="column-featured-main" src="assets/img/retina/wmb_phone@2x.png" alt>
						</span>
					</div>
					<div class="column-text column">
						<h2 class="column-text-tagline">Bitcoin enabled On-Demand video sharing</h2>

						<h3 class="column-text-headline">The Product</h3>
						<p class="column-text-description">WatchMyBit is platform designed to help high end content creators monetize their videos through easy Bitcoin based microtransactions.</p>

						<h3 class="column-text-headline">Roles</h3>
						<p class="column-text-description">I worked as the Lead User Experience designer and Product Manager involving development of new services, features and a transition to mobile first product design.</p>

						<a class="cta-more-info" href="#!/wmb" >Examples <i class="fa fa-fw fa-chevron-right"></i></a>
					</div>
				</section>
			</div><!--/.portfolio-wmb-->

			<!-- EXTRA portfolio block -->
			<div class="portfolio-extra portfolio extra-section">
				<section class="inner">
					
				</section>
			</div><!--/.portfolio-extra-->

			
		</div><!--/#portfolio-container-->

		<footer class="container">
			
		</footer>

	</div><!--/#viewport-->

</div>

<link rel="stylesheet" type="text/css" href="assets/css/index-desktop.css">
<link rel="stylesheet" type="text/css" href="assets/css/index-mobile.css">