
@font-face {
  font-family: 'Plantin';
  src: url('Plantin.eot?#iefix') format('embedded-opentype'),  url('Plantin.woff') format('woff'), url('Plantin.ttf')  format('truetype'), url('Plantin.svg#Plantin') format('svg');
  font-weight: normal;
  font-style: normal;
}
