@import "local-fonts/monaco/stylesheet.css";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	position: relative;
	padding: 0;
	margin: 0;
	clear: both;
	float: none;
	background: white;
}

h1, h2, h3, h4, h5, h6, p, a, li{
	font-family: Helvetica;
	font-weight: normal;
}

.hidden{
	display: none !important;
	-webkit-visibility: hidden;
	visibility: hidden;
}

.extra-section{
	position: relative;
    min-height: 200px;
    background-color: white;
    border-bottom: 0 none !important;
}

#page-content .textual-content-centered{
	padding-left: 0 !important;
}

.section.alpha{
	border-top: 0 none !important;
}

[data-device="desktop"] .container:not(#top-bar) .inner{
	padding-left: 40px;
	padding-right: 40px;
}

#site-logo-group > a{
    /* height: 100%; */
    display: block;
}

[data-device="desktop"] #top-bar .inner,
[data-device="desktop"] #page-content .section > .inner{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

[data-device="desktop"] #top-bar #site-logo-group .fa{
	margin-left: -15px;
}

[data-device="mobile"] #page-content .section.beta .section-content-tools{
	height: 265px;
}

[data-device="mobile"] #top-bar .inner{
	height: 50px;
}

[data-device="desktop"] .retina-mobile{
	display: none;
}

[data-device="desktop"] .non-retina{
	display: block;
}

[data-device] #switcher-inner{
	overflow: hidden;
}

[data-device] #switcher-inner .active-switch{
	-webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.7);
   box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 799px){
	[data-device="mobile"] #top-bar,
	[data-device="mobile"] .switcher-mobile,
	[data-device="mobile"] #viewport{
		font-smoothing: antialiased !important;
		top: 0;
		left: 0;

		-webkit-transform-origin: 0% 0% 0px;
		-moz-transform-origin: 0% 0% 0px;
		transform-origin: 0% 0% 0px;

		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	[data-device="mobile"],
	[data-device="mobile"] #top-bar,
	[data-device="mobile"] .switcher-mobile{
		width: 320px !important;
	}

	[data-device="mobile"] #top-bar{
		overflow: hidden;
	}

	[data-device="mobile"] .retina-mobile{
		display: block;
	}

	[data-device="mobile"] .retina-mobile img{
		width: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	[data-device="mobile"] .non-retina{
		display: none;
	}

}

@viewport{
	/*- meta viewport pragma for `user-scalable=no` is not working on ios 10 -*/
    user-zoom: fixed;
}


@-ms-viewport{
	/*- meta viewport pragma for `user-scalable=no` is not working on ios 10 -*/
    user-zoom: fixed;
}

@-moz-document url-prefix(){
	[data-device="mobile"] #top-bar #site-logo-group img#site-logo{
		margin-top: -3px;
	}
}

/*--
 - on-resize
 --- width
 --- transform
 --*/
[data-device] #top-bar #site-logo-group #site-logo,
[data-device] #top-bar #site-logo-group .fa{
	-webkit-visibility: hidden;
	visibility: hidden;
	opacity: 0;
}

.fixed-element-container{
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	-webkit-pointer-events: none;
	pointer-events: none;
	display: block;
	
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	.inner{
	    max-width: 1000px;
    	margin: 0 auto;
    	padding-left: 10px !important;

		.fe-logo{
			border-radius: 100%;
			margin-left: -12px;
			margin-top: 5px;
		}

		.fe-arrow{
		    color: white;
		    font-size: 80px;
		    width: 60px;
		    font-weight: 300;
		    vertical-align: middle;
		    margin-left: -15px;
		    margin-top: 0;
		}

		.fe-logo,
		.fe-arrow{
			display: inline-block;
			vertical-align: middle;
		}
	}
}

[data-portfolio="index"] .fixed-element-container .fe-arrow{
	-webkit-visibility: hidden;
	visibility: hidden;
	opacity: 0;
}

@media (max-width: 799px){
	[data-device="mobile"] .fixed-element-container{
		height: 50px;

		.inner{
			width: 100%;

			.fe-logo{
				width: 45px;
				margin-top: 2px;
			}

			.fe-arrow{
			    font-size: 40px;
			    width: 30px;
			    margin-top: 0;
			    margin-right: 5px;
			}
		}
	}

	[data-device="mobile"] [data-view="index"] #top-bar #top-bar-email{
		margin-right: 12px !important;
	}
}

@media (min-width: 1018px){
	[data-device="desktop"] [data-view="cc"] #page-content,
	[data-device="desktop"] [data-view="phomio"] #page-content,
	[data-device="desktop"] [data-view="wmb"] #page-content{
		margin-top: 100px !important;
	}
}

[data-device="desktop"] [data-view="cc"] #site-logo-group > a,
[data-device="desktop"] [data-view="phomio"] #site-logo-group > a,
[data-device="desktop"] [data-view="wmb"] #site-logo-group > a{
	margin-left: -40px;
}

#barba-wrapper{
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.barba-container{
	overflow: hidden;
	height: inherit;
}