body{
	overflow-y: scroll;
	background-color: white;
}

[data-device] [data-view="index"] .container .inner{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}

/*-- cloned top-bar 
[data-device] .container.top-bar-cloned .inner{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}

.top-bar-cloned{
	-webkit-visibility: hidden;
	visibility: hidden;
}

.top-bar-cloned #site-logo{
	-webkit-visibility: visible;
	visibility: visible;
}

.top-bar-cloned #site-title,
.top-bar-cloned .desktop-top-bar-tagline,
.top-bar-cloned #top-bar-email{
	display: none;
}
--*/


/*--
 - Top bar
 --*/
[data-device] [data-view="index"] #top-bar,
[data-device] .top-bar-cloned{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 100px;

	box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
	background-color: rgba(222, 222, 222, 0.95);
	z-index: 99999;
}

[data-device] [data-view="index"] #top-bar > .inner,
[data-device] .top-bar-cloned > .inner{
	display: table;
}

[data-device] [data-view="index"] #top-bar > .inner > *,
[data-device] .top-bar-cloned > .inner > *{
	display: table-cell;
	vertical-align: middle;
}

[data-device] [data-view="index"] #top-bar a,
[data-device] .top-bar-cloned a{
	text-decoration: none;
}

/*-- site logo group --*/
[data-device] [data-view="index"] #top-bar figure#site-logo-group,
[data-device] .top-bar-cloned figure#site-logo-group{
	width: 330px;
	margin: 0;
}

[data-device] [data-view="index"] #top-bar #site-logo-group img,
[data-device] .top-bar-cloned #site-logo-group img{
	display: inline-block;
	vertical-align: middle;
}

[data-device] [data-view="index"] #top-bar #site-logo-group img#site-logo,
[data-device] .top-bar-cloned #site-logo-group img#site-logo{
	border-radius: 100%;
}

[data-device] [data-view="index"] #top-bar #site-logo-group img#site-title,
[data-device] .top-bar-cloned #site-logo-group img#site-title{
	margin-left: 20px;
    padding-bottom: 6px;
}

/*-- top-bar headline --*/
[data-device] [data-view="index"] #top-bar h3{
    width: 450px;
    line-height: 140%;
	font-size: 18px;
	color: #666666;
	display: block;
}

[data-device] [data-view="index"] #mobile-top-bar-tagline{
	display: none;
}

/*-- top-bar email link --*/
[data-device] [data-view="index"] #top-bar-email{
	color: red;
	text-decoration: none;
	font-size: 18px;
    text-align: right;
    padding-top: 4px;
}

/*--
 - Portfolio
 --*/
[data-device] [data-view="index"] #portfolio-container {
	position: inherit;
	margin-top: 100px;
	color: white;
}

[data-device] [data-view="index"] #portfolio-container .portfolio{
	position: inherit;
	width: 100%;
    padding: 35px 20px 0;
    border-bottom: 1px solid #808080;
	border-top: 1px solid #d6d6d6;
    overflow: hidden;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .inner{
	position: relative;
    height: 582px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column{
	height: inherit;
	display: table-cell;
	vertical-align: top;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-featured{
	max-width: 300px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-featured-main{
	margin-top: 5px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text{
	padding-left: calc(40px + 20px);
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text-tagline{
    margin-top: 16px;
    margin-bottom: 38px;
    font-size: 24px;
    text-align: center;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text-headline{
	font-size: 35px;
    text-transform: capitalize;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text-description{
	margin-top: 3px;
    margin-left: 30px;
    font-size: 21px;
    line-height: 140%;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text-description:last-of-type{
    font-size: 23px;
    line-height: 130%;
    margin-top: 10px
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text .cta-more-info{
    width: 262px;
    height: 50px;
    border-radius: 10px;
    border: 4px solid white;
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 40px;
    margin: 32px auto 0;
    color: white;
    font-size: 24px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text .cta-more-info:hover{
	background-color: white;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text .cta-more-info:active{
	/*-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	transform: translateY(2px);*/
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 2px 8px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text .cta-more-info .fa{
	font-size: 18px;
   /* margin-left: 7px;*/
}

/*-- portfolio cc --*/

[data-device] [data-view="index"] #portfolio-container .portfolio-cc{
	background-color: #00c0ff;
	border-top: 0 none !important;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-cc .column-text .cta-more-info:hover{
	color: #00c0ff;
}

[data-device] [data-view="index"] #portfolio-container .portfolio .column-text .cta-more-info:active{
	background-color: #00c0ff;
	color: white;
}

/*-- portfolio phomio --*/
[data-device] [data-view="index"] #portfolio-container .portfolio-phomio{
	background-color: #d72d2e;
    padding-bottom: 20px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-phomio .column-text .cta-more-info:hover{
	color: #d72d2e;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-phomio .column-text .cta-more-info:active{
	background-color: #d72d2e;
	color: white;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-phomio .column-text-tagline{
    margin-left: 30px;
    margin-top: 30px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-phomio .column-featured-main:last-of-type{
	margin-top: 30px;
}

/*-- portfolio wmb --*/
[data-device] [data-view="index"] #portfolio-container .portfolio-wmb{
	background-color: #f6bf02;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .inner{
	height: 580px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .column-text .cta-more-info:hover{
	color: #f6bf02;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .column-text .cta-more-info:active{
	background-color: #f6bf02;
	color: white;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .column-text-tagline{
    margin-left: 30px;
    margin-top: 23px;
}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .column-featured-company{
	margin-left: -10px;

}

[data-device] [data-view="index"] #portfolio-container .portfolio-wmb .column-featured-main{
	margin-top: -10px;
}