$base_vp_width: 640;
$scaled_vp_width: 690;
$scale: scale($base_vp_width, $scaled_vp_width);
$global_top_offset: 57px;
$global_left_offset: 102px;
$line_1_offset_ftop: 224px;
$line_2_offset_fbottom: 138px;

@mixin center( $dim, $offsetX, $offsetY ){
	position: absolute;
	@if $dim == y {
		top : 50%;
		left: 0;
		@include prefix(transform, translate(0%, -50%));
	}@else{ 
		top : 0;
		left: 50%;
		@include prefix(transform, translate(-50%, 0%));
	}

	margin-top: $offsetY;
	margin-left: $offsetX;
	
}

@mixin prefix( $property, $value ){
	@each $prefixes in -webkit-, -moz-, -o-, null{
		#{$prefixes}#{$property}: $value;
	}
}

@function scale($n, $d){
	@return $n / $d;
}